<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Music Gear Organizer</h1>
    <% for (let i=0; i < gear.length; i++) { %>
        <a href="/gear/<%= gear[i].id %>">
            <%= gear[i].name %>
        </a><br>
        <%= gear[i].type %> <br>
            <%= gear[i].color %> <br>
                <a href="/gear/<%= gear[i].id %>">
                    <img src="<%= gear[i].image %>" alt="<%= gear[i].name %>">
                </a><br>
                <br>
                <form action="/gear/<%= gear[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <% } %>
                    <a href="/gear/new">Add Item</a>
</body>

</html>