<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 id="app-name">Music <span style="color:rgb(69, 30, 0)">Gear</span> Organizer</h1>
    <div class="container">
        <div class="h2-class">
            <h2>Guitars</h2>
        </div>

        <% for (let i=0; i < guitars.length; i++) { %>
            <div class="item-box">
                <a href="/gear/<%= guitars[i].id %>">
                    <div class="image-div">
                        <img src="<%= guitars[i].image %>" alt="image of a <%= guitars[i].name %>">
                    </div>
                </a>
                <a class="link-name" href="/gear/<%= guitars[i].id %>">
                    <%= guitars[i].name %>
                </a>
                <p class="description">
                    <%= guitars[i].description %>
                </p>

                <div class="buttons">
                    <form action="/gear/<%= guitars[i].id %>?_method=DELETE" method="POST">
                        <input id="delete-button" type="submit" value="DELETE">
                    </form>
                    <a href="/gear/<%= guitars[i].id %>/edit"><button id="edit-button">EDIT</button></a>
                </div>
            </div>
            <% } %>

                <div class="item-box">
                    <a href="/gear/new">
                        <div class="add-item-button">
                            <p id="plus-sign">+</p>
                            <p class="add-item">Add Item</p>
                        </div>
                    </a>

                </div>
    </div>

    <div class="container">
        <div class="h2-class">
            <h2>Keyboards</h2>
        </div>

        <% for (let i=0; i < keyboards.length; i++) { %>
            <div class="item-box">
                <a href="/gear/<%= keyboards[i].id %>">
                    <div class="image-div">
                        <img src="<%= keyboards[i].image %>" alt="image of a <%= keyboards[i].name %>">
                    </div>
                </a>
                <a class="link-name" href="/gear/<%= keyboards[i].id %>">
                    <%= keyboards[i].name %>
                </a>
                <p class="description">
                    <%= keyboards[i].description %>
                </p>

                <div class="buttons">
                    <form action="/gear/<%= keyboards[i].id %>?_method=DELETE" method="POST">
                        <input id="delete-button" type="submit" value="DELETE">
                    </form>
                    <a href="/gear/<%= keyboards[i].id %>/edit"><button id="edit-button">EDIT</button></a>
                </div>
            </div>
            <% } %>

                <div class="item-box">
                    <a href="/gear/new">
                        <div class="add-item-button">
                            <p id="plus-sign">+</p>
                            <p class="add-item">Add Item</p>
                        </div>
                    </a>

                </div>
    </div>

    <div class="container">
        <div class="h2-class">
            <h2>Drums</h2>
        </div>

        <% for (let i=0; i < drums.length; i++) { %>
            <div class="item-box">
                <a href="/gear/<%= drums[i].id %>">
                    <div class="image-div">
                        <img src="<%= drums[i].image %>" alt="image of a <%= drums[i].name %>">
                    </div>
                </a>
                <a class="link-name" href="/gear/<%= drums[i].id %>">
                    <%= drums[i].name %>
                </a>
                <p class="description">
                    <%= drums[i].description %>
                </p>

                <div class="buttons">
                    <form action="/gear/<%= drums[i].id %>?_method=DELETE" method="POST">
                        <input id="delete-button" type="submit" value="DELETE">
                    </form>
                    <a href="/gear/<%= drums[i].id %>/edit"><button id="edit-button">EDIT</button></a>
                </div>
            </div>
            <% } %>

                <div class="item-box">
                    <a href="/gear/new">
                        <div class="add-item-button">
                            <p id="plus-sign">+</p>
                            <p class="add-item">Add Item</p>
                        </div>
                    </a>

                </div>
    </div>

    <div class="container">
        <div class="h2-class">
            <h2>Other Gear</h2>
        </div>

        <% for (let i=0; i < otherItems.length; i++) { %>
            <div class="item-box">
                <a href="/gear/<%= otherItems[i].id %>">
                    <div class="image-div">
                        <img src="<%= otherItems[i].image %>" alt="image of a <%= otherItems[i].name %>">
                    </div>
                </a>
                <a class="link-name" href="/gear/<%= otherItems[i].id %>">
                    <%= otherItems[i].name %>
                </a>
                <p class="description">
                    <%= otherItems[i].description %>
                </p>


                <div class="buttons">
                    <form action="/gear/<%= otherItems[i].id %>?_method=DELETE" method="POST">
                        <input id="delete-button" type="submit" value="DELETE">
                    </form>
                    <a href="/gear/<%= otherItems[i].id %>/edit"><button id="edit-button">EDIT</button></a>
                </div>
            </div>
            <% } %>

                <div class="item-box">
                    <a href="/gear/new">
                        <div class="add-item-button">
                            <p id="plus-sign">+</p>
                            <p class="add-item">Add Item</p>
                        </div>
                    </a>

                </div>
    </div>

</body>


</html>